<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" class="wide wow-animation">

<head runat="server">
    <title>Tunku Abdul Rahman University of Management & Technology - Faculty of Computing and Information Technology
    </title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport"
        content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="keywords"
        content="computer science courses in malaysia, computer programming courses in malaysia, computer engineering courses in malaysia">
    <meta name="description"
        content="Tunku Abdul Rahman University of Management and Technology is a distinguished institution of higher learning acknowleged locally, nationally and globally for its excellence in providing opportunities for intellectual, personal and professional development.">

    <link rel="icon" href="images/tarIco.ico" type="image/x-icon">

    <!-- bootstrap & fontawesome -->

    <link rel="stylesheet" href="assets/css/colorbox.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/font-awesome.css" />

    <!-- page specific plugin styles -->



    <!--link rel="stylesheet" href="assets/css/jquery-ui.custom.css" /-->

    <!--link rel="stylesheet" href="assets/css/chosen.css" /-->
    <!--link rel="stylesheet" href="assets/css/datepicker.css" /-->
    <!--link rel="stylesheet" href="assets/css/bootstrap-timepicker.css" /-->
    <!--link rel="stylesheet" href="assets/css/daterangepicker.css" />
            <!--link rel="stylesheet" href="assets/css/bootstrap-datetimepicker.css" /-->
    <!--link rel="stylesheet" href="assets/css/colorpicker.css" /-->

    <!-- text fonts -->
    <link rel="stylesheet" href="assets/css/ace-fonts.css" />



    <!-- ace styles -->
    <link rel="stylesheet" href="assets/css/ace.css" class="ace-main-stylesheet" />

    <!--[if lte IE 9]>
			<link rel="stylesheet" href="assets/css/ace-part2.css" class="ace-main-stylesheet" />
		<![endif]-->

    <!--[if lte IE 9]>
		  <link rel="stylesheet" href="assets/css/ace-ie.css" />
		<![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->
    <script src="assets/js/ace-extra.js"></script>

    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
			<script src="assets/js/html5shiv.js"></script>
			<script src="assets/js/respond.js"></script>
		<![endif]-->


    <link rel="stylesheet" type="text/css"
        href="//fonts.googleapis.com/css?family=Montserrat:400,700%7CLato:300,300italic,400,400italic,700,900%7CPlayfair+Display:700italic,900">
    <link rel="stylesheet" href="assets/css/style.css">

    <link rel="stylesheet" href="assets/css/print.css" />


    <link rel="stylesheet" href="assets/css/gold-orange.css?d=2023/08/27 19:06:45">
    <link rel="stylesheet" href="assets/css/custom.css" />

    <!--[if lt IE 10]>
    		<div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    		<script src="assets/js/html5shiv.min.js"></script>
		<![endif]-->

    <style>
        .float {
            position: fixed;
            width: 60px;
            height: 60px;
            bottom: 100px;
            right: 20px;
            background-color: #25d366;
            color: #FFF;
            border-radius: 50px;
            text-align: center;
            font-size: 30px;
            box-shadow: 2px 2px 3px #999;
            z-index: 100;
        }

        .my-float {
            margin-top: 16px;
            color: #FFFFFF;
        }
    </style>
</head>

<body>
    
</body>

</html>